#!/bin/bash

# Directory of backup.sql (excpet file name omitting the last '/' character)
backup_file_directory=/foo/bar

# Namespace and Label of the original pod
origin_ns=my-namespace
origin_label=("key1=value1" "key2=value2")

# Namespace and Label of the pod to restore
restore_ns=my-namespace
restore_label=("key1=value1" "key2=value2")